{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block content %}
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Data Solver</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href='/logout'>登出</a></li>
                    <li><a href='/data'>数据</a></li>
                    {% else %}
                    <li><a href='/login'>登录</a></li>
                    {% endif %}
                    <li><a href='/register'>注册</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Welcome Page</h1>
                        <h3>欢迎{{user.username}}</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-qq fa-fw"></i> <span class="network-name">腾讯QQ</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-wechat fa-fw"></i> <span class="network-name">微信</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Footer -->
    <footer>
        <div align="center" class="container">
            <div class="row">
              <div class="col-lg-12">
                <p class="copyright text-muted">Your Company Address . TEL: 12345678901 . FAX: 12345678 . Email: 123456@admin.com<br/>
                Copyright &copy; Your Company 2016. All Rights Reserved<br/></p>
              </div>
            </div>
        </div>
    </footer>
{% endblock %}
