{% extends 'base.html' %}
{% block title %}Hello, {{user.username}}{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
   <li><a href="#home" data-toggle="tab">个人资料</a></li>
   <li><a href="#template" data-toggle="tab">模板下载</a></li>
   <li><a href="#upload" data-toggle="tab">文件上传</a></li>
   <li><a href="#result" data-toggle="tab">结果文件下载</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade" id="home">
		home
	</div>
	<div class="tab-pane fade" id="template">
		<a href="/download/common/a.xls/">模板下载</a>
	</div>
	<div class="tab-pane fade" id="upload">
		<form enctype="multipart/form-data" method="post" action="/upload/">
			{% csrf_token %}
			{{form}}
			<input type="submit" value="上传">
		</form>
	</div>
	<div class="tab-pane fade" id="result">
		<p>结果文件下载</p>
		{% for result in results %}
		<a href="/download/{{user.username}}/result/{{result}}/">{{result}}</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
