{% extends 'solvedata/base.html' %}
{% block main_content %}
        <div class="content">
            <div class="container-fluid">
				<div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">系统简单介绍</h4>
                            </div>
							<div class="content">
								<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            </div>
                        </div>
                    </div>
					<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">各功能可用情况</h4>
                            </div>
							<div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>功能名</th>
										<th>可用情况</th>
                                    	<th>描述</th>
                                    	<th>价格</th>
										<th>购买</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>功能一</td>
											<td><i class="fa fa-circle text-success"></i></td>
                                        	<td>功能一的描述</td>
                                        	<td>1000/年</td>
                                        	<td><a href="#">购买</a></td>
                                        </tr>
										<tr>
                                        	<td>功能二</td>
											<td><i class="fa fa-circle text-danger"></i></td>
                                        	<td>功能二的描述</td>
                                        	<td>1000/年</td>
                                        	<td><a href="#">购买</a></td>
                                        </tr><tr>
                                        	<td>功能三</td>
											<td><i class="fa fa-circle text-danger"></i></td>
                                        	<td>功能三的描述</td>
                                        	<td>1000/年</td>
                                        	<td><a href="#">购买</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block js_footer %}
		<script>$('#system').attr('class','active');</script>	
{% endblock %}
